  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.barraNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
   border-bottom: 0.2rem solid black;
   

}

.imgNav {
  width:5rem;
}

.navLinkContain {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  font-weight: bold;
}
.p{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: black  ;
}

.imp{
width: 12rem;
height: 1.8rem;

font-size: larger;
}
a{
  text-decoration: none;
}